@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  min-height: 100vh;
}

/* Dark mode transitions */
.dark {
  color-scheme: dark;
}
